<div class="col-md-6">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>name</th>
                <th>username</th>
                <th>email</th>
                <th>role(s)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.roles}}</td>
                <td><button class="btn btn-danger">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
